@charset "UTF-8";
hr.gray {
  background: #F6F6F6;
}

section.page {
  position: relative;
  z-index: 1;
}

.container-100 {
  width: 100%;
  overflow: hidden;
}

.btn_more, .btn_more_w, .btn_back {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;
}
.btn_more p, .btn_more_w p, .btn_back p {
  font-size: 16px;
  z-index: 2;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn_more p::before, .btn_more_w p::before, .btn_back p::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn_more:hover p, .btn_more_w:hover p, .btn_back:hover p {
  color: #FC7623;
}

.btn_more p {
  color: #000;
}
.btn_more p::before {
  right: -20%;
  background: url(../img/btn_right.svg) center center/contain no-repeat;
}

.btn_more_w p {
  color: #FFF;
}
.btn_more_w p::before {
  right: -20%;
  background: url(../img/btn_right_w.svg) center center/contain no-repeat;
}

.btn_more:hover p::before, .btn_more_w:hover p::before {
  right: -40%;
  background: url(../img/btn_right_hover.svg) center center/contain no-repeat;
}

.btn_back p {
  color: #000;
}
.btn_back p::before {
  left: -60%;
  background: url(../img/btn_left.svg) center center/contain no-repeat;
}
.btn_back:hover p::before {
  left: -80%;
  background: url(../img/btn_left_hover.svg) center center/contain no-repeat;
}

.btnbox {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btnbox button {
  background: transparent;
  padding: 20px 60px;
}
.btnbox p {
  font-weight: 600;
  color: #000;
}

.btn_reset {
  background: #CFCFCF !important;
  border: solid 1px #CFCFCF !important;
  color: #FFF !important;
}
.btn_reset:hover {
  background: #949494 !important;
  border: solid 1px #949494 !important;
}

.btn_submit {
  background: #212529 !important;
  border: solid 1px #212529 !important;
  color: #FFF !important;
}
.btn_submit:hover {
  background: #000 !important;
  border: solid 1px #000 !important;
}

.l-h {
  line-height: 26px;
  color: #FC7623;
}

.color01 {
  color: #FC7623;
}

.color02 {
  color: #666464;
}

.color03 {
  color: #949494;
}

.color_gray {
  color: #212529;
}

.color_w {
  color: #FFF !important;
}

.color_b {
  color: #000;
}

.color_p {
  color: #3955AD;
}

.top-alla {
  padding: 5% 0;
}

.top-allb {
  padding: 5% 0 8% 0;
}

.box {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1411764706);
  background: #FFF;
}

.bg {
  background-color: #FAFAFA;
}

.bg01 {
  background-color: #FC7623;
}

.bg02 {
  position: relative;
  background: url(../img/bg02.jpg) center center/cover no-repeat;
}

.bg_page {
  background: linear-gradient(41.39deg, rgba(210, 211, 215, 0.5) 13.84%, rgba(210, 211, 215, 0.1) 82.58%);
}

.bg_contact {
  background: #EFEFEF;
}

.swiper-products {
  overflow: hidden;
  padding-bottom: 60px;
}

a.producta {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a.producta .product:hover .btnbox {
  background: #FC7623;
}
a.producta .product:hover .btnbox p {
  color: #FFF;
}

.product {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.product:hover .imgbox::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 20%);
}
.product:hover .imgbox img {
  transform: translate(-50%, -50%) scale(1.1);
}
.product:hover .textbox h4 {
  color: #FC7623;
}
.product .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  background: #FFF;
  border-radius: 10px;
  margin: 0 auto;
}
.product .imgbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%);
}
.product .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  width: 80%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

a.productb .product02 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgb(255, 255, 255) 100%);
  padding: 2% 10%;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a.productb .product02:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
a.productb .product02:hover h2 {
  color: #FC7623;
}
a.productb .product02:hover .imgbox img {
  width: 88%;
}
a.productb .product02:hover .btnbox {
  background: #FC7623;
}
a.productb .product02:hover .btnbox p {
  color: #FFF;
}
a.productb .product02 h2 {
  font-size: 25px;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a.productb .product02 p {
  font-weight: 600;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
a.productb .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
}
a.productb .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  width: 85%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.recommend {
  background: #eee;
  border-radius: 20px;
  padding: 30px 0;
}

.swiper-products03 {
  margin: 0 40px;
  overflow: hidden;
}
.swiper-products03 .imgbox img {
  width: 60% !important;
}
.swiper-products03 .swiper-button-next {
  right: 0 !important;
  color: #000 !important;
}
.swiper-products03 .swiper-button-prev {
  left: 0 !important;
  color: #000 !important;
}

dl.Breadcrumb {
  margin: 20px auto;
}

dl.Breadcrumb dd {
  color: #FC7623;
  font-weight: 900;
  float: left;
  margin-bottom: 5px;
}

dl.Breadcrumb dd a {
  color: #212529;
  font-weight: 400;
}
dl.Breadcrumb dd a::after {
  content: " > ";
  padding: 0 5px;
}

.pd {
  display: flex;
  flex-direction: column;
}
.pd .tag {
  margin-bottom: 5px;
}
.pd .tag span {
  font-size: 14px;
  padding: 2px 6px;
  background: #FC7623;
  color: #FFF;
}
.pd .norem p {
  font-size: 20px;
}
.pd .norm {
  width: 100%;
}
.pd .norm .name {
  width: 62px;
}
.pd .norm .des {
  width: calc(100% - 62px);
}
.pd .locate {
  justify-content: space-between;
  position: relative;
  width: 50%;
}
.pd .locate::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 6px;
  background: url(../img/locate.png) center center/contain no-repeat;
}
.pd .pay01 {
  background: #EEE;
  padding: 10px 20px;
  text-align: center;
  margin-right: 20px;
}
.pd .pay01 span, .pd .pay01 p {
  font-size: 16px;
  line-height: 1.5;
}
.pd .paint01, .pd .form01 {
  background: #EEE;
  padding: 5px 10px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.btn_fb {
  display: inline-flex;
  align-items: center;
  position: relative;
  background: #212529;
  border-radius: 50px;
  padding: 5px 20px 5px 10px;
}
.btn_fb p {
  color: #FFF;
}
.btn_fb:hover {
  background: #FC7623;
}
.btn_fb:hover .imgbox::after {
  width: 200px;
}
.btn_fb .imgbox {
  margin-right: 10px;
  position: relative;
}
.btn_fb .imgbox img {
  width: 50px;
  height: 50px;
  z-index: 2;
  position: relative;
}

.index-news {
  display: flex;
  align-items: center;
  color: #FFF;
  padding: 20px 15px;
}
.index-news img {
  width: 30px;
  margin-right: 20px;
}
.index-news h4 {
  line-height: 1.2;
}

.index-about {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.index-about .desbox {
  padding-right: 60px;
  padding-left: 0;
}
.index-about .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  cursor: auto;
  border-radius: 20px;
  padding-bottom: 40%;
}
.index-about .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.index-feature {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.index-feature .featurebox {
  display: flex;
  align-items: center;
  background: #0E0E12;
  color: #fff;
  padding: 12px 40px;
  border-radius: 10px;
}
.index-feature .featurebox img {
  margin-right: 10px;
}

.index-seller .swiper-pagination .swiper-pagination-bullet, .index-store .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: solid 1px #0E0E12;
  opacity: 1;
}
.index-seller .swiper-pagination .swiper-pagination-bullet-active, .index-store .swiper-pagination .swiper-pagination-bullet-active {
  background: #0E0E12;
  border: solid 2px #0E0E12;
}

.block02 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.block02 .block-left .imgbox, .block02 .block-right .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 20px;
  background: #FFF;
}
.block02 .block-left .imgbox::after, .block02 .block-right .imgbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.block02 .block-left .imgbox img, .block02 .block-right .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.block02 .block-left .infobox, .block02 .block-right .infobox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  z-index: 2;
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.block02 .block-left {
  position: relative;
  padding: 10px;
  width: 50%;
}
.block02 .block-left:hover .imgbox::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.block02 .block-left:hover .imgbox img {
  transform: translate(-50%, -50%) scale(1.1);
}
.block02 .block-left:hover .infobox {
  opacity: 1;
}
.block02 .block-left:hover .btnbox {
  background: #FC7623;
}
.block02 .block-left:hover .btnbox p {
  color: #FFF;
}
.block02 .block-left .imgbox {
  padding-bottom: 112%;
}
.block02 .block-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.block02 .block-right .block-bottom {
  position: relative;
  padding: 10px;
  width: 100%;
}
.block02 .block-right .block-bottom:nth-child(1):hover .imgbox::after, .block02 .block-right .block-bottom:nth-child(2):hover .imgbox::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.block02 .block-right .block-bottom:nth-child(1):hover .imgbox img, .block02 .block-right .block-bottom:nth-child(2):hover .imgbox img {
  transform: translate(-50%, -50%) scale(1.1);
}
.block02 .block-right .block-bottom:nth-child(1):hover .infobox, .block02 .block-right .block-bottom:nth-child(2):hover .infobox {
  opacity: 1;
}
.block02 .block-right .block-bottom:nth-child(1):hover .btnbox, .block02 .block-right .block-bottom:nth-child(2):hover .btnbox {
  background: #FC7623;
}
.block02 .block-right .block-bottom:nth-child(1):hover .btnbox p, .block02 .block-right .block-bottom:nth-child(2):hover .btnbox p {
  color: #FFF;
}
.block02 .block-right .block-bottom .imgbox {
  padding-bottom: calc(56% - 10px);
}
.block02 .block-right .block-bottom .imgbox img {
  width: 50%;
}
.block02 .block-right .block-bottom .infobox {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.index-qa .imgbox {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.index-qa .imgbox img {
  width: 100%;
}

.index-contact {
  position: relative;
}
.index-contact .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  cursor: auto;
  border-radius: 20px;
  padding-bottom: 37%;
}
.index-contact .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.index-contact .textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.index-contact .textbox h3 {
  letter-spacing: 2px;
  line-height: 1.5;
}
.index-contact .textbox h5 {
  font-weight: 400;
  line-height: 1.5;
  margin: 20px auto 30px;
  width: 60%;
}
.index-contact .btnbox {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.index-contact .btnbox button {
  padding: 20px 90px;
}
.index-contact .btnbox:hover {
  background: #FC7623;
}
.index-contact .btnbox:hover p {
  color: #FFF;
}

.swiper-store {
  overflow: hidden;
  padding-bottom: 60px;
}

.store, .store02 {
  background: #212529;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.store .textbox, .store02 .textbox {
  padding: 40px;
  color: #FFF;
}
.store .textbox p, .store02 .textbox p {
  align-items: center;
  display: flex;
}
.store .textbox i, .store02 .textbox i {
  color: #000;
  background: #FFF;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.store .textbox i::before, .store02 .textbox i::before {
  font-size: 14px;
  top: -3px;
  position: relative;
}
.store .maps, .store02 .maps {
  border-radius: 20px 20px 0 0;
  padding-bottom: 80%;
}
.store:hover, .store02:hover {
  background: #666464;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.store:hover h4, .store02:hover h4 {
  color: #FC7623;
}

.guidebook {
  margin-bottom: 40px;
  background: #FFF;
  border-radius: 20px;
}

.guest, .official {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  border-radius: 20px;
}
.guest .imgbox, .official .imgbox {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
}
.guest .imgbox img, .official .imgbox img {
  width: 100%;
}
.guest .textbox, .official .textbox {
  width: calc(100% - 100px);
  padding-left: 20px;
}
.guest .namebox, .official .namebox {
  display: flex;
  align-items: center;
}
.guest .namebox p, .official .namebox p {
  font-weight: 600;
  color: #333;
}
.guest .namebox span, .official .namebox span {
  color: #aaa;
}

.official {
  background: #ececec;
}

.store02 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.store02 .maps {
  padding-bottom: 25%;
}

.store-info {
  display: flex;
  flex-wrap: wrap;
}
.store-info .page_title h2 {
  border-bottom: 1px solid #aaa;
}
.store-info i {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50px;
  color: #FFF;
  display: inline-block;
  line-height: 1;
  margin-right: 10px;
}
.store-info i::before {
  font-size: 13px;
  position: relative;
  left: 1px;
  top: 1px;
}
.store-info .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  cursor: auto;
  padding-bottom: 60%;
  border-radius: 20px;
}
.store-info .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.morepic a {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 90%;
}
.morepic img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  height: 100%;
}

.contact {
  padding: 20px;
  position: relative;
}
.contact::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contact .info-box {
  background: #f1f1f1;
  padding: 50px 20px;
}
.contact p {
  display: flex;
}
.contact p:hover a {
  color: #FC7623;
}
.contact i {
  width: 35px;
}
.contact i::before {
  width: 25px;
  height: 25px;
  line-height: 2;
  border-radius: 50px;
  border: 1px solid #000;
  font-size: 12px;
  margin-right: 5px;
}
.contact span {
  width: calc(100% - 35px);
  word-break: break-all;
}
.contact .imgboxc {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 50%;
  cursor: auto;
}
.contact .imgboxc img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.banner-all img {
  width: 100%;
}

/*BANNER */
.banner {
  margin: 0;
  padding: 0;
}
.banner .swiper-banner {
  width: 100%;
}
.banner .swiper-banner .swiper-slide {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 40%;
}
.banner .swiper-banner .swiper-slide a img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.banner .swiper-banner .swiper-button-next, .banner .swiper-banner .swiper-button-prev {
  color: #ffffff;
}
.banner .swiper-banner .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  border: solid 2px #CFCFCF;
}
.banner .swiper-banner .swiper-pagination .swiper-pagination-bullet-active {
  border: solid 2px #ffffff;
}

.pc {
  display: inline-block !important;
}

.mob {
  display: none !important;
  visibility: hidden !important;
}

main .bn {
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-bottom: 13%;
}
main .bn img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
main .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: Black 0em 0em 0.2em;
  color: #fff;
}
main .page-title h2 {
  display: block;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
}

/*大標*/
.title h2, .title_w h2 {
  color: #000;
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 900;
}
.title h4, .title_w h4 {
  color: #FC7623;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.title_w h2 {
  color: #FFF;
}

.tilte01 h2 {
  width: -moz-fit-content;
  width: fit-content;
  background: #FC7623;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tilte01 hr {
  margin: 0;
}

.title_line hr {
  background: #E8E8E8;
  height: 4px;
  position: relative;
}
.title_line hr::before {
  content: "";
  background: #FC7623;
  width: 120px;
  height: 5px;
  left: 0;
  bottom: 0;
  position: absolute;
}
.title_line h3 {
  color: #FC7623;
  font-size: 22px;
}

.pics {
  margin-top: 30px;
  text-align: center;
}
.pics h4 {
  margin-top: 10px;
  color: #212529;
}
.pics .pics-img {
  border: solid 1px #CFCFCF;
  position: relative;
  display: block;
  overflow: hidden;
}
.pics .pics-img img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.pics:hover .pics-img img {
  transform: scale(1.1);
}

h3.product_detail {
  display: inline-block;
  background: #949494;
  padding: 10px 20px;
  color: #FFF;
  font-size: 22px;
}

.frame {
  box-shadow: 0 0 0px 20px #CFCFCF inset;
  background: transparent;
  padding: 5% 8%;
}

.frame02 {
  box-shadow: none;
  border: 1px solid #FC7623;
}

/*產品 */
.product__carousel .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  transition: border 0.15s linear;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  height: calc(100% - 8px);
}
.product__carousel .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  border-color: #001E6D !important;
}
.product__carousel .swiper-container .swiper-wrapper .swiper-slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 80%;
}
.product__carousel .swiper-container .swiper-wrapper .easyzoom-flyout img {
  transform: translate(0, 0);
  min-width: 100%;
  min-height: 100%;
}

.product__carousel {
  display: block;
  max-width: 700px;
  margin: 1em auto 3em;
}
.product__carousel a {
  display: block;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.product__carousel .swiper-button-next.swiper-button-white, .product__carousel .swiper-button-prev.swiper-button-white {
  color: #E6E6E6;
}
.product__carousel .gallery-top {
  margin-bottom: 5px;
  height: 405px !important;
}
.product__carousel .gallery-top .swiper-slide {
  position: relative;
  overflow: hidden;
}
.product__carousel .gallery-top .swiper-slide a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.product__carousel .gallery-top .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.product__carousel .gallery-top .swiper-slide .easyzoom-flyout img {
  min-width: 100%;
  min-height: 100%;
}

.swiper-container .swiper-slide img {
  width: 75%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

[class^="swiper-container gallery-thumbs-"] .swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-company {
  padding-top: 60px !important;
}
.swiper-company .swiper-slide img {
  width: 100%;
}
.swiper-company .swiper-button-next, .swiper-company .swiper-button-prev {
  top: 25px;
  background: #666464;
  outline: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}
.swiper-company .swiper-button-next:after, .swiper-company .swiper-button-prev:after {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}
.swiper-company .swiper-button-prev {
  left: auto;
  right: 60px;
  background: #FC7623;
}

.swiper-slide-thumb-active {
  border: solid 3px #212529;
  box-sizing: border-box;
}

.products-img {
  display: none;
}
.products-img img {
  width: 100%;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  width: 100%;
}
ul.tabs li {
  margin: 0;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 31px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  overflow: hidden;
  position: relative;
  background: #F6F6F6;
  align-items: center;
  display: flex;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 6px auto;
}
ul.tabs .imgbox {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  width: 100%;
  width: 30px;
  padding-bottom: 30px;
  margin-right: 5px;
}
ul.tabs .imgbox img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

ul.tabs li:hover {
  opacity: 0.9;
}
ul.tabs li.active {
  border: 1px solid #ff5000;
  color: #ff5000;
}

.ajax-box {
  width: 100%;
  max-width: 500px !important;
  min-height: 560px !important;
}

.tab_container {
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: auto;
}

.tab_content {
  padding: 20px 30px;
  display: none;
}

.tab_drawer_heading {
  display: none;
}

.tab_style h1 {
  color: #FC7623;
  font-weight: 700;
  font-size: 32px;
}
.tab_style p {
  color: #FC7623;
  font-size: 20px;
  padding: 15px 0;
  font-weight: 700;
}

.tab_a {
  margin-left: 10px;
  cursor: pointer;
  color: #3955AD !important;
}
.tab_a:hover {
  color: #666464 !important;
}

.tab_b {
  color: #FC7623;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
}
.tab_b p {
  font-size: 18px !important;
}
.tab_b:hover p {
  color: #666464 !important;
}

.tab_button button {
  width: 100%;
}

.tab_line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.tab_line p {
  color: #FC7623;
  font-weight: 700;
  font-size: 18px !important;
}
.tab_line .line01 {
  width: 33.333%;
  height: 1px;
  background-color: #FC7623;
}

.fb-btn, .google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3px 0 !important;
  font-weight: 600;
}

.fb-btn {
  background-color: #3B5998;
  color: #ffffff;
}
.fb-btn:hover {
  background-color: #2d4373;
}

.google-btn {
  background-color: #4285F4;
  color: #ffffff;
}
.google-btn:hover {
  background-color: #2d5ead;
}

.tab_pre {
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .block02 .block-left .infobox, .block02 .block-right .infobox {
    font-size: 20px;
  }
}
@media screen and (max-width: 1366px) {
  .pd-title {
    font-size: 20px;
  }
  /*產品 */
  .product__carousel .gallery-top {
    height: 400px !important;
  }
  .store-info .col-lg-7 .d-flex p:nth-of-type(2) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .block02 .block-left .infobox, .block02 .block-right .infobox {
    font-size: 18px;
  }
  .contact-box .leftbox h3 {
    font-size: 20px;
  }
  .contact-box .rightbox h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  /*產品 */
  .product__carousel .gallery-top {
    height: 300px !important;
  }
}
@media screen and (max-width: 991px) {
  .btn_more p, .btn_more_w p {
    margin-right: 60px;
  }
  .btn_more:hover p::before, .btn_more_w:hover p::before {
    right: 10%;
  }
  .btn_more_w p::before {
    right: 20%;
  }
  /*大標*/
  .title h2 {
    font-size: 26px;
  }
  .store-info .col-lg-7 {
    padding-top: 20px;
    padding-left: 0;
  }
  a.producta .product {
    border-radius: 5px;
  }
  a.producta .product p {
    font-size: 16px;
    font-weight: 500;
  }
  .info-box .icon {
    margin: 0px 0 20px 0;
    display: flex;
    align-items: center;
  }
  .info-box .icon span {
    margin: 6px 0;
    width: 60px;
    display: block;
  }
  .info-box .icon span i {
    background: #FFF;
    color: #949494;
    border: solid 2px #CFCFCF;
    padding: 8px 8px 10px 8px;
    border-radius: 100px;
    font-size: 20px;
  }
  .info-box .icon p {
    font-size: 16px;
    line-height: 20px;
    width: calc(100% - 60px);
  }
  .index-news {
    padding: 15px 10px;
  }
  .index-news img {
    width: 18px;
    margin-right: 10px;
  }
  .index-about .desbox {
    margin-bottom: 20px;
    padding-right: 0;
  }
  .index-about .imgbox {
    padding-bottom: 80%;
  }
  .index-feature {
    margin-top: 20px;
  }
  .index-feature .featurebox {
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  .index-contact .textbox h5 {
    margin: 10px auto 20px;
    width: 90%;
  }
  .block02 .block-left .imgbox, .block02 .block-right .imgbox {
    border-radius: 10px;
  }
  .block02 .block-left .infobox .pt-3 {
    display: none;
  }
  .block02 .block-left .btnbox {
    margin-top: 10px;
    border-radius: 5px;
  }
  .block02 .block-left .btnbox button {
    padding: 10px 45px;
  }
  .block02 .block-right .block-bottom .infobox .pt-3 {
    display: none;
  }
  .block02 .block-right .block-bottom .btnbox {
    margin-top: 10px;
    border-radius: 5px;
  }
  .block02 .block-right .block-bottom .btnbox button {
    padding: 10px 45px;
  }
  .recommend h4 {
    font-size: 18px;
  }
  .recommend .swiper-button-next::after, .recommend .swiper-button-prev::after {
    font-size: 16px;
  }
  .recommend .swiper-button-next {
    right: -10px !important;
  }
  .recommend .swiper-button-prev {
    left: -10px !important;
  }
  .recommend .swiper-products03 {
    margin: 0 20px;
  }
  .store02 .maps {
    padding-bottom: 40%;
  }
  .store .textbox, .store02 .textbox {
    padding: 20px;
  }
  .form-box {
    margin-top: 40px;
  }
  .contact-box {
    margin-bottom: 30px;
  }
  .contact-box .leftbox, .contact-box .rightbox {
    width: 100%;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  h3.product_detail {
    font-size: 20px;
  }
  .btn_more {
    padding: 6px 8px;
  }
  .btn_more p {
    font-size: 16px;
    letter-spacing: 0px;
  }
  /*產品 */
  .product__carousel {
    display: none;
  }
  .product__carousel .gallery-thumbs .swiper-slide {
    height: calc(100% - 38px) !important;
  }
  .products-img {
    display: block;
  }
  a.productb .product02 {
    border-radius: 10px;
    padding: 2% 2% 10%;
  }
  a.productb .product02 h2 {
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }
  .index-about .linkbox .linkbox01:nth-child(2) {
    transform: translateX(0px);
  }
  .block02 {
    display: flex;
  }
  .block02 .block-left {
    position: relative;
    padding: 10px;
    width: 100%;
  }
  .block02 .block-left .imgbox {
    padding-bottom: calc(56% - 10px);
  }
  .block02 .block-left .imgbox img {
    width: 50%;
  }
  .block02 .block-left .infobox {
    width: 90%;
    height: 90%;
    flex-direction: column;
  }
  .block02 .block-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .block02 .block-right .infobox {
    height: 84%;
    flex-direction: column;
  }
  .block02 .block-right .block-bottom {
    position: relative;
    padding: 10px;
    width: 100%;
  }
  .index-contact .imgbox {
    padding-bottom: 50%;
  }
  .index-contact .imgbox img {
    height: 100%;
  }
  .index-contact .textbox h3 {
    letter-spacing: 0;
  }
  .index-contact .textbox h5 {
    width: 100%;
  }
}
@media screen and (max-width: 667px) {
  .banner .swiper-banner .swiper-slide {
    padding-bottom: 100%;
  }
  .pc {
    display: none !important;
    visibility: hidden !important;
  }
  .mob {
    display: block !important;
    visibility: visible !important;
  }
}
@media screen and (max-width: 575px) {
  .btn_back p {
    margin-right: 0px;
  }
  .btn_back p::before {
    left: -80%;
  }
  .btn_back:hover p::before {
    left: -100%;
  }
  main .bn {
    padding-bottom: 70%;
  }
  main .bn img {
    height: 100%;
  }
  .index-contact .imgbox {
    padding-bottom: 100%;
  }
  .contact::after {
    width: 90%;
  }
  .index-about .linkbox .linkbox01 {
    padding: 8% 10%;
  }
  .index-about .linkbox .linkbox01:nth-child(1) h4::before, .index-about .linkbox .linkbox01:nth-child(2) h4::before {
    width: 30px;
    height: 30px;
  }
  .index-about .linkbox .linkbox01 h4 {
    font-size: 16px;
  }
  .pd {
    flex-direction: column-reverse;
  }
  .pd .norm .name {
    width: 50px;
  }
  .pd .norm .des {
    width: calc(100% - 50px);
  }
  .pd .locate {
    width: 90%;
  }
  .pd .pay01 {
    padding: 10px;
    margin-right: 10px;
  }
  .pd .pay01 span, .pd .pay01 p {
    font-size: 14px;
  }
  .pd .paint01, .pd .form01 {
    padding: 4px 16px;
  }
  .pd .paint01 p, .pd .form01 p {
    font-size: 14px;
  }
  .guest .imgbox, .official .imgbox {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .guest .textbox, .official .textbox {
    width: calc(100% - 70px);
    padding-left: 0;
  }
  .guest .namebox, .official .namebox {
    flex-direction: column;
    align-items: flex-start;
  }
  .guest .namebox span, .official .namebox span {
    font-size: 14px;
  }
  .store-info .col-lg-7 .d-flex p:nth-of-type(2) {
    margin-left: 0px;
  }
  .banner .swiper-banner .swiper-button-next::after, .banner .swiper-banner .swiper-button-prev::after {
    font-size: 30px;
  }
  .btn {
    font-size: 18px !important;
  }
  .btn:hover {
    font-size: 18px !important;
  }
  .title_line h3 {
    font-size: 22px;
  }
  .contact-box {
    margin-bottom: 10px;
  }
  .contact-box .rightbox::before {
    right: 0%;
    left: auto;
  }
  .contact-box .rightbox h3 {
    text-align: left;
    font-size: 18px;
  }
  .contact-box .rightbox h3 i {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .contact-box .rightbox, .contact-box .leftbox {
    padding: 10px 10px;
  }
  .contact-box .rightbox h3, .contact-box .leftbox h3 {
    font-size: 16px;
  }
  .contact-box .rightbox::before, .contact-box .leftbox::before {
    width: 30px;
  }
  article section .container .index-links-prev-next {
    position: relative;
  }
  article section .container .index-links-prev-next .swiper-button-next, article section .container .index-links-prev-next .swiper-button-prev {
    top: -130px;
    background: #FC7623;
    outline: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
  }
  article section .container .index-links-prev-next .swiper-button-next:after, article section .container .index-links-prev-next .swiper-button-prev:after {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
  }
  article section .container .index-links-prev-next .swiper-button-next {
    left: auto;
    right: 0px;
  }
  article section .container .index-links-prev-next .swiper-button-prev {
    left: auto;
    right: 50px;
  }
}
@media screen and (max-width: 360px) {
  .contact-box .rightbox::before, .contact-box .leftbox::before {
    width: 15px;
  }
}/*# sourceMappingURL=all.css.map */